@import url("https://fonts.googleapis.com/css2?family=Hind:wght@200;300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #777;
}

img {
  width: 100%;
  height: 100%;
}

ul,
ol {
  list-style: none;
}

body {
  font-family: "Hind", sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.375rem;
  color: #777;
  background-color: #fff;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex__row_ai_fs {
  align-items: flex-start;
}
.flex__row_jc_sb {
  justify-content: space-between;
}
.flex__col {
  flex-direction: column;
}
.flex__col_ai_fs {
  flex-direction: column;
  align-items: flex-start;
}
.flex__col_jc_sb {
  flex-direction: column;
  justify-content: space-between;
}

.container {
  max-width: 75rem;
  margin: auto;
}

.btn {
  display: inline-block;
  padding: 0.9375rem 2.5rem;
  text-transform: uppercase;
  border: 0;
  border-radius: 5px;
  opacity: 0.9;
  background-color: #fff;
  font-weight: 500;
  font-size: 1rem;
  color: #191919;
  cursor: pointer;
  transition: background-color 0.3s linear;
}

.btn:hover {
  background-color: orangered !important;
}

a:hover {
  color: #2254fa;
}

header nav.panel-menu {
  color: red;
}
header .mobile-header {
  max-width: 64rem;
  margin: auto;
  height: 3.125rem;
  display: none;
}
header .mobile-header__container {
  width: 100%;
  padding: 0 1.25rem;
}
header .desktop-header {
  height: 3.625rem;
  margin: auto;
  background-color: #fff;
}
header .desktop-header .container {
  max-width: 87.5rem;
  height: 100%;
  margin: auto;
  padding: 0.625rem;
}
header .desktop-header .container .header-holder {
  width: 100%;
  height: 100%;
  gap: 1.25rem;
  /* 3 main obj start*/
}
header .desktop-header .container .header-holder .obj-logo {
  display: flex;
}
header .desktop-header .container .header-holder .obj-menu .desktop-parent-menu {
  gap: 0.3125rem;
}
header .desktop-header .container .header-holder .obj-menu .desktop-parent-menu > a {
  text-transform: uppercase;
  padding: 0 0.5rem;
  font-weight: 500;
}
header .desktop-header .container .header-holder .obj-menu .desktop-parent-menu > a:hover {
  color: #2254fa;
}
header .desktop-header .container .header-holder .obj-options {
  margin-left: auto;
  display: flex;
  gap: 0.625rem;
  position: relative;
  z-index: 22;
  /* 3 main obj start*/
  /* dropdown menu of 3 options*/
}
header .desktop-header .container .header-holder .obj-options .btn-option {
  border: 0;
  background-color: transparent;
}
header .desktop-header .container .header-holder .obj-options .btn-option > i {
  color: #706666;
  background-color: transparent;
  padding: 0.625rem;
  cursor: pointer;
  position: relative;
  font-size: 1.25rem;
}
header .desktop-header .container .header-holder .obj-options .btn-option::before {
  content: attr(data-tooltip);
  width: max-content;
  position: absolute;
  top: 70px;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1px;
  border: none;
  border-radius: 5px;
  padding: 0.3125rem;
  transition: 0.2s linear;
  visibility: hidden;
  background-color: #fff;
  color: #706666;
}
header .desktop-header .container .header-holder .obj-options .btn-option::after {
  content: "";
  position: absolute;
  top: 63px;
  border-style: solid;
  border-width: 0 7px 10px 7px;
  border-color: transparent transparent #fff transparent;
  transition: 0.2s linear;
  visibility: hidden;
}
header .desktop-header .container .header-holder .obj-options .btn-option:hover::before, header .desktop-header .container .header-holder .obj-options .btn-option:hover::after {
  transform: translateY(-17px);
  visibility: visible;
  opacity: 1;
}
header .desktop-header .container .header-holder .obj-options button:hover i {
  color: #2254fa;
}
header .desktop-header .container .header-holder .obj-options .search-option > * {
  overflow: hidden;
}
header .desktop-header .container .header-holder .obj-options .search-option .dropdown-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 1;
  visibility: hidden;
}
header .desktop-header .container .header-holder .obj-options .search-option .dropdown-menu .container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2.5rem 0.625rem;
}
header .desktop-header .container .header-holder .obj-options .search-option .dropdown-menu .container form {
  position: relative;
  width: 100%;
  height: 100%;
}
header .desktop-header .container .header-holder .obj-options .search-option .dropdown-menu .container form .form-control input {
  display: block;
  margin: 0.625rem 0;
  width: 100%;
  text-transform: uppercase;
  font-size: 1.25rem;
  border: 0;
  border-bottom: 1px solid #e2e1e1;
  padding: 1.125rem 0;
}
header .desktop-header .container .header-holder .obj-options .search-option .dropdown-menu .container form .form-control input:focus {
  outline: none;
}
header .desktop-header .container .header-holder .obj-options .search-option .dropdown-menu .container form button {
  border: 0;
  background-color: transparent;
  padding: 0.3125rem;
  right: -0.625rem;
  cursor: pointer;
  position: absolute;
}
header .desktop-header .container .header-holder .obj-options .search-option .dropdown-menu .container form #submit {
  bottom: 0.625rem;
  font-size: 1.5625rem;
}
header .desktop-header .container .header-holder .obj-options .search-option .dropdown-menu .container form #close-search-form {
  top: -0.625rem;
  font-size: 0.875rem;
}
header .desktop-header .container .header-holder .obj-options .dropdown-menu {
  position: absolute;
  top: 45px;
  right: 10px;
  max-height: 0;
  width: 250px;
  visibility: hidden;
  transition: max-height 0.2s ease-out;
  overflow: hidden;
}
header .desktop-header .container .header-holder .obj-options .dropdown-menu > * {
  flex-direction: column;
  align-items: flex-start;
  width: 12.5rem;
  padding: 1.25rem;
  letter-spacing: 1px;
  font-weight: 400;
  width: 100%;
  max-height: max-content;
  background-color: #fff;
}
header .desktop-header .container .header-holder .obj-options .dropdown-menu.clicked {
  max-height: 500px;
  visibility: visible;
}
header .desktop-header.scroll {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  box-shadow: 0 0px 5px 0px;
}
header .showcase {
  width: 100%;
  height: 600px;
  position: relative;
  margin: auto;
  overflow: hidden;
  /* Navigation of slide */
  /* Arrow slide */
}
header .showcase__slides {
  width: 300%;
  height: 600px;
  position: relative;
}
header .showcase__slides .slide.active {
  opacity: 1;
  z-index: 1;
}
header .showcase__slides .slide.active .slide__text {
  top: 50%;
}
header .showcase__slides .slide {
  width: 33.33%;
  height: 600px;
  position: absolute;
  left: 0;
  transition: 1s linear;
  opacity: 0;
  display: flex;
}
header .showcase__slides .slide__text {
  width: 450px;
  text-align: center;
  position: absolute;
  top: 200%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  font-size: 30px;
  line-height: 80px;
  font-weight: 300;
  transition: 1.3s linear;
}
header .showcase__slides .slide__text h2 {
  color: orangered;
}
header .showcase__slides .slide__text h3 {
  color: #fcb93e;
}
header .showcase__slides .slide__text .btn {
  background-color: #2254fa;
  color: #fff;
  line-height: 1.5;
}
header .showcase__nav {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  justify-content: space-between;
  z-index: 23;
}
header .showcase__nav > * {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #cfcece;
}
header .showcase__nav > .active {
  background-color: #333;
}
header .showcase__nav *:hover {
  opacity: 0.5;
  cursor: pointer;
}
header .showcase__nav *:active {
  transform: scale(1.3);
}
header .showcase .arrow-slide .arrow:hover {
  opacity: 0.5;
  cursor: pointer;
}
header .showcase .arrow-slide .arrow-slide-left {
  position: absolute;
  z-index: 123;
  top: 50%;
  left: 3.125rem;
  font-size: 2.8125rem;
  padding: 0.3125rem;
}
header .showcase .arrow-slide .arrow-slide-right {
  position: absolute;
  z-index: 123;
  top: 50%;
  right: 3.125rem;
  font-size: 2.5rem;
  padding: 0.3125rem;
}

.main {
  width: 100%;
}
.main .categories {
  width: 100%;
  height: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  flex-wrap: wrap;
  gap: 1.25rem;
  padding: 1.25rem;
}
.main .categories .women {
  grid-column: 2;
  grid-row: 1/span 2;
}
.main .categories .shoes {
  grid-column: 3/span 2;
  grid-row: 2;
}
.main .categories .item {
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.main .categories .item .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: color 0.3s linear;
}
.main .categories .item:hover .btn {
  background-color: #2254fa;
  color: #fff;
}
.main .categories .item img {
  transition: transform 1s;
}
.main .categories .item:hover > img {
  transform: scale3d(1.1, 1.1, 1);
}

/* Sale products */
.best-sales {
  text-align: center;
  margin: 1.25rem;
}
.best-sales__header {
  text-transform: uppercase;
  color: #000;
  margin-bottom: 1.875rem;
  font-size: 1.0625rem;
  line-height: 1.5;
}
.best-sales__header h2,
.best-sales__header h3 {
  font-weight: 500;
}
.best-sales__items {
  display: flex;
  justify-content: center;
  column-gap: 1.25rem;
  flex-wrap: wrap;
  width: 100%;
}
.best-sales__items .product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  position: relative;
  cursor: pointer;
  height: auto;
}
.best-sales__items .product__image {
  background-color: #e2e2e2;
}
.best-sales__items .product__image .compare {
  position: absolute;
  flex-direction: column;
  gap: 0.625rem;
  top: 10px;
  right: 10px;
  opacity: 0;
}
.best-sales__items .product__image .compare > * {
  border: none;
  border-radius: 50%;
  width: 2.8125rem;
  height: 2.8125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  position: relative;
}
.best-sales__items .product__image .compare > *:hover {
  background-color: #2254fa;
  color: #fff;
  visibility: visible;
}
.best-sales__items .product__image .compare > *:hover::before,
.best-sales__items .product__image .compare *:hover::after {
  color: #000;
  transform: translateX(60px);
  opacity: 1;
  z-index: 22;
}
.best-sales__items .product__image .compare > *::before {
  content: attr(data-tooltip);
  position: absolute;
  right: 120px;
  border-radius: 7px;
  width: max-content;
  background-color: #fff;
  padding: 0.125rem 0.3125rem;
  opacity: 0;
  transition: 0.3s linear;
  box-shadow: 0px 0px 5px 0px;
  z-index: 1;
}
.best-sales__items .product__image .compare > *::after {
  content: "";
  width: 0.9375rem;
  height: 0.9375rem;
  border-style: solid;
  border-width: 10px 0px 10px 15px;
  border-color: transparent transparent transparent #fff;
  position: absolute;
  right: 112px;
  opacity: 0;
  transition: 0.3s linear;
  z-index: 1;
}
.best-sales__items .product__image .label-location {
  position: absolute;
  top: 10px;
  left: 10px;
  flex-direction: column;
  gap: 0.625rem;
  color: #fff;
  padding: 0 0.1875rem;
  font-weight: bold;
  border-radius: 3px;
}
.best-sales__items .product__image .label-location .label-new {
  background-color: #2254fa;
  border-radius: 3px;
  padding: 0 0.3125rem;
}
.best-sales__items .product__image .label-location .label-sale {
  background-color: red;
  border-radius: 3px;
  padding: 0 0.3125rem;
}
.best-sales__items .product__description {
  transition: 0.2s linear;
  background-color: #fff;
  width: 100%;
  height: auto;
  color: #000;
  padding-top: 0.625rem;
  position: relative;
}
.best-sales__items .product__description .countdown-box {
  height: 80px;
  gap: 0.625rem;
  color: #2254fa;
  position: absolute;
  top: -80px;
  left: 0;
  width: 100%;
}
.best-sales__items .product__description .countdown-box > * {
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid blue;
  width: 25%;
  height: 80%;
}
.best-sales__items .product__description .product__info {
  text-transform: uppercase;
}
.best-sales__items .product__description .product__price {
  font-weight: bold;
  letter-spacing: 0.0625rem;
}
.best-sales__items .product__description .product__rating {
  color: yellow;
}
.best-sales__items .product__description .product__options {
  margin-top: 0.9375rem;
  display: flex;
  justify-content: center;
  gap: 1.25rem;
}
.best-sales__items .product__description .product__inside-hover {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}
.best-sales__items .product__description .product__inside-hover .add-to-cart .btn {
  margin-top: 0.625rem;
  background-color: #2254fa;
  color: #fff;
  opacity: 0;
  transition: 0.1s linear;
  padding: 0.625rem 1.25rem;
}
.best-sales__items .product__description .product__inside-hover .compare {
  display: none;
}
.best-sales__items .product:hover .product__description {
  transform: translateY(-80px);
}
.best-sales__items .product:hover .product__description .btn {
  opacity: 1;
}
.best-sales__items .product:hover .compare {
  opacity: 1;
}

/*# sourceMappingURL=styles.css.map */
