@use 'sass:math';

@function torem($value) {
     @return math.div($value, 16) + rem;
     
}

$font_size : torem(14);
$font_color: #777;
$back_ground : #fff;

$primary_color: #437CF8;
$btn_color: #191919;