@use 'globals' as g;
@use 'variables' as v;

// ! Header
header {
    nav.panel-menu {
        color: red;
    }
    // End of Nav panel menu

    .mobile-header {
        max-width: g.torem(1024);
        margin: auto;
        height: g.torem(50);
        display: none;

        &__container {
            width: 100%;
            padding: 0 g.torem(20);
        }
    }
    // End of Mobild Header

    .desktop-header {
        height: g.torem(52);
        margin: auto;
        background-color: v.$back_ground;

        .container {
            max-width: g.torem(1200);
            height: 100%;
            margin: auto;
            padding: g.torem(10) 0;
            padding: 0 g.torem(10);

            .header-holder {
                width: 100%;
                height: 100%;
                gap: g.torem(20);

                .obj-menu {
                    .desktop-parent-menu {
                        gap: g.torem(5);
                        > a {
                            text-transform: uppercase;
                            padding: 0 g.torem(8);
                            font-weight: 500;
                        }

                        > a:hover {
                            color: v.$primary_color;
                        }
                    }
                }

                .obj-options {
                    margin-left: auto;
                    display: flex;
                    gap: g.torem(10);

                    button {
                        border: 0;
                        color: rgb(112, 102, 102);
                        background-color: transparent;
                        font-size: g.torem(18);
                        padding: g.torem(10);
                        cursor: pointer;

                        position: relative;
                        z-index: 1;

                        &::before {
                            content: attr(data-tooltip);
                            width: max-content;
                            position: absolute;
                            top: 80px;
                            font-size: g.torem(13);
                            border: none;
                            border-radius: 5px;
                            padding: g.torem(5);
                            transition: 0.5s ease-in-out;
                            visibility: hidden;
                        }

                        &::after {
                            content: "";
                            position: absolute;
                            top: 70px;
                            border-style: solid;
                            border-width: 0 7px 10px 7px;
                            border-color: transparent transparent #fff transparent;
                            transition: 0.4s ease-in-out;
                            visibility: hidden;
                        }

                        &:hover::before,
                        &:hover::after {
                            transform: translateY(-40px);
                            visibility: visible;
                            opacity: 1;
                        }
                    }

                    .search-option {
                        position: relative;
                        .dropdown-menu {
                            position: fixed;
                            top: 0;
                            left: 0;
                            right: 0;
                            visibility: hidden;
                            transition: linear 1s ease-in-out;
                            z-index: 22;

                            .container {
                                background: #fff;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                width: 100%;
                                padding: g.torem(40) g.torem(10);

                                form {
                                    position: relative;
                                    width: 100%;
                                    height: 100%;

                                    .form-control {
                                        input {
                                            display: block;
                                            margin: g.torem(10) 0;
                                            width: 100%;
                                            text-transform: uppercase;
                                            font-size: g.torem(20);
                                            border: 0;
                                            border-bottom: 1px solid #e2e1e1;
                                            padding: g.torem(18) 0;

                                            &:focus {
                                                outline: none;
                                            }
                                        }
                                    }

                                    #submit {
                                        position: absolute;
                                        right: g.torem(-10);
                                        bottom: g.torem(10);
                                        font-size: g.torem(25);
                                        cursor: pointer;
                                        padding: g.torem(5);
                                    }

                                    #close-search-form {
                                        position: absolute;
                                        right: g.torem(-5);
                                        top: g.torem(-10);
                                        cursor: pointer;
                                        font-size: g.torem(14);
                                        padding: g.torem(5);
                                    }
                                }
                            }

                            @keyframes show-dropdown-menu {
                                0% {
                                    top: -800px;
                                }

                                100% {
                                    top: 0;
                                }
                            }
                        }
                    }

                    .dropdown-menu {
                        position: absolute;
                        top: 40px;
                        width: g.torem(200);
                        height: g.torem(200);

                        visibility: hidden;
                        background-color: red;
                    }

                    .cart-option {
                        position: relative;
                        z-index: 22;
                    }

                    .account-option {
                        position: relative;
                        z-index: 22;
                    }

                    .setting-option {
                        position: relative;
                        z-index: 22;
                    }
                }
            }
        }
    }
    // End of Desktop Header
}
// ! End of Header

// ! Main
.main {
    width: 100%;

    .categories {
        width: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: g.torem(20);
        padding: g.torem(20);

        .women {
            grid-column: 2;
            grid-row: 1 / span 2;
        }

        .shoes {
            grid-column: 3 / span 2;
            grid-row: 2;
        }

        .item {
            cursor: pointer;
            overflow: hidden;
            position: relative;

            .btn {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                transition: color 0.3s linear;
            }

            &:hover .btn {
                background-color: v.$primary_color;
                color: #fff;
            }

            img {
                transition: transform 1s;
            }

            &:hover > img {
                transform: scale3d(1.1, 1.1, 1);
            }
        }
    }
}

/* Sale products */
.sale {
    text-align: center;
    margin: g.torem(20);

    .sale__header {
        text-transform: uppercase;
        color: #000;
        margin-bottom: g.torem(30);
        line-height: 2;
    }
    &__items {
        display: flex;
        justify-content: center;
        column-gap: g.torem(20);
        flex-wrap: wrap;
        width: 100%;

        .product {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            text-align: center;
            position: relative;
            cursor: pointer;
            height: auto;

            &__image {
                .compare {
                    position: absolute;
                    flex-direction: column;
                    gap: g.torem(10);
                    top: 10px;
                    right: 10px;
                    opacity: 0;

                    > * {
                        border: none;
                        border-radius: 50%;
                        width: g.torem(45);
                        height: g.torem(45);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: #fff;
                        position: relative;
                    }

                    > *:hover  {
                        background-color: v.$primary_color;
                        color: #fff;
                        visibility: visible;
                    }

                    > *:hover::before,
                    *:hover::after {                        
                        color: #000;
                        transform: translateX(40px);
                        opacity:  1;
                    }

                    > *::before {
                        content: attr(data-tooltip);
                        position: absolute;
                        right: 100px;
                        border-radius: 7px;
                        width: max-content;
                        background-color: #fff;
                        padding: g.torem(2) g.torem(5);
                        opacity: 0;
                        transition: .3s linear;                        
                    }

                    > *::after {
                         content: '';
                         width: g.torem(15);
                         height: g.torem(15);
                         border-style: solid;
                         border-width: 10px  0px  10px 15px;
                         border-color: transparent transparent transparent #fff;
                         position: absolute;
                         right: 92px;
                         opacity: 0;
                         z-index: -1;                       
                         transition: .3s linear;                        
                    }

                  
                }

                .label-location {
                     position: absolute;
                     top: 10px;
                     left: 10px;
                     
                     flex-direction: column;
                     gap: g.torem(10);
                     color: #fff;
                     padding: 0 g.torem(3);
                     font-weight: bold;
                     border-radius: 3px;   

                     .label-new {
                          background-color: v.$primary_color;
                          border-radius: 3px;
                          padding: 0 g.torem(5);                     
                     }

                     .label-sale {
                          background-color: red;
                          border-radius: 3px;
                          padding: 0 g.torem(5);   
                     }
                }
            }

            &__description {
                transition: 0.2s linear;
                background-color: #fff;
                width: 100%;
                height: auto;
                color: #000;
                padding-top: g.torem(10);
                position: relative;

                .countdown-box {
                     height: 80px;
                     gap: g.torem(10);
                     color: v.$primary_color;
                     position: absolute;
                     top: -80px;
                     left: 0;
                     width: 100%;
                     
                     >* {
                         border-radius: 5px;
                         background-color: #fff;
                         border: 1px solid blue;
                         width: 25%;
                         height: 80%;
                          
                     }
                }
                .product__info {
                    text-transform: uppercase;
                }

                .product__price {
                    font-weight: bold;
                    letter-spacing: g.torem(1);
                }
                .product__rating {
                    color: yellow;
                }

                .product__options {
                    margin-top: g.torem(15);
                    display: flex;
                    justify-content: center;
                    gap: g.torem(20);
                }

                .product__inside-hover {
                    display: flex;
                    flex-direction: column;
                    gap: g.torem(30);

                    .add-to-cart {
                        .btn {
                            margin-top: g.torem(10);
                            background-color: v.$primary_color;
                            color: #fff;
                            opacity: 0;
                            transition: 0.1s linear;
                            padding: g.torem(10) g.torem(20);
                        }
                    }

                    .compare {
                        display: none;
                    }
                }
            }
        }

        .product:hover .product__description  {
            transform: translateY(-80px);
        }

       .product:hover  .product__description .btn {
            opacity: 1;
       }

        .product:hover .compare {
             opacity: 1;
        }
    }
}
